.container {
  background-color: var(--gray_default_900);
  color: var(--white_default);
}

.layerOne {
  padding: 8px 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray_default_300);
}

.findstoreSupport {
  display: flex;
  align-items: center;
  align-content: center;
  font-family: 'Inter-Regular';
}

.findStore {
  display: flex;

  >span {
    padding: 0 32px 0 8px;
  }
}

.support {
  display: flex;

  >span {
    padding: 0 32px 0 8px;
  }
}

.contactTrackorder {
  display: flex;
  gap: 16px;
  font-family: 'Inter-Medium';
}

.verticalLine {
  border-right: 0.1px solid var(--gray_default_700);
}

.line {
  border: 0.1px solid var(--gray_default_700);
}

.layerTwo {
  padding: 24px 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';
  color: var(--gray_default_100);
}

.search {
  display: flex;
  align-content: center;
  border: 0.1px solid var(--gray_default_700);
  border-radius: 5px;
}

.dropdown {
  display: flex;
  align-items: center;
  padding: 0 17px;
  border-right: 0.1px solid var(--gray_default_700);

  &:hover {
    cursor: pointer;
  }

  >span {
    padding-right: 10px;
  }
}

.input {
  display: flex;
  align-items: center;

  &>input {
    padding: 13px;
    width: 500px;
    color: white;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter-Regular';

    &:focus {
      outline: none;
    }

    &::placeholder{
      color: var(--gray_default_500);
    }
  }
}

.button {
  background-color: var(--red_default_500);
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;

  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  gap: 20px;
}

.layerThree {
  background-color: white;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
}

.departmentPagelinks {
  display: flex;
  gap: 40px;
}

.departmentDropdown {
  background-color: var(--red_default_500);
  padding: 11px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';

  &:hover {
    cursor: pointer;
  }

  >span {
    padding: 0 32px 0 8px;
  }
}

.pagelinks {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';

  >a{
    color: var(--gray_default_500);
  }
  color: var(--gray_default_500);
}

.shop {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  >span {
    padding-right: 8px;
  }
}

.featured {
  display: flex;
  align-items: center;
  
  &:hover {
    cursor: pointer;
  }

  >span {
    padding-right: 8px;
  }
}

.promotion {
  display: flex;
  align-items: center;

  >span {
    padding-left: 8px;
  }
}

.currencyLanguages {
  align-items: center;
  display: flex;
  gap: 16px;
  color: var(--gray_default_500);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';
}

.currency {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.language {
  align-items: center;
  display: flex;
  cursor: pointer;
}