@import '../../styles/_colors.scss';
@import '../../styles/_shared.scss';


.container {
  background-color: $gray_default_900;
  color: $white_default;
}

.layerOne {
  @extend %sharedOne;
  padding: 8px 8vw;
  font-size: 12px;
  line-height: 16px;
  color: $gray_default_300;
}

.findstoreSupport {
  @extend %sharedOne;
  font-family: 'Inter-Regular';
}

.findStore, .support  {
  color: $gray_default_300;
  display: flex;
  transition: all ease 0.3s;

  .findStoreImage path {
    transition: all ease 0.3s;
  }

  >span {
    padding: 0 32px 0 8px;
  }

  &:hover {
    color: $red_default_500;
    cursor: pointer;

    .findStoreImage path {
      stroke: $red_default_500;
    }

    .supportImage path{
      stroke: $red_default_500;
    }
  }
}


.contactTrackorder {
  display: flex;
  gap: 16px;
  font-family: 'Inter-Medium';

  a {
    color: $gray_default_300;

    &:hover {
      color: $red_default_500;
      cursor: pointer;
    }
  }

}

.verticalLine {
  border-right: 0.1px solid $gray_default_700;
}

.line {
  border: 0.1px solid $gray_default_700;
}

.layerTwo {
  @extend %sharedOne;
  padding: 24px 8vw;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';
  color: $gray_default_100;
}

.logo {
  font-family: 'Inter-ExtraBold';
  font-size: 2.5vw;

  a{
    color: white;

    &:hover {
      color: $red_default_500;
    }
  }
}

.search {
  display: flex;
  align-content: center;
  border: 0.1px solid $gray_default_700;
  border-radius: 5px;
}

.dropdown {
  @extend %sharedOne;
  padding: 0 17px;
  border-right: 0.1px solid $gray_default_700;
  position: relative;

  &:hover {
    cursor: pointer;

    .categoryItems {
      display: block;
    }
  }

  span {
    padding-right: 10px;
  }

  .categoryItems {
    display: none;
    width: 176px;
    position: absolute;
    top: 43px;
    background-color: white;
    padding: 10px 15px 0 15px;
    margin-left: -18px;
    border-radius: 5px 0 0px 5px;
    z-index: 100;

    a{
      color: $gray_default_500;
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;

      
      &:hover {
        color: $red_default_500;
      }
    }
  }
}

.input {
  display: flex;
  align-items: center;

  &>input {
    padding: 9px;
    width: 500px;
    color: white;
    background: transparent;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter-Regular';

    &:focus {
      outline: none;
    }

    &::placeholder{
      color: $gray_default_500;
    }
  }
}

.button {
  background-color: $red_default_500;
  border-radius: 0 5px 5px 0;
  padding: 6px 13px;

  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  gap: 20px;
  transition: all ease 0.3s;

  .userImage, .repeatImage, .heartImage, .cartImage {
    transition: all ease 0.3s;

    &:hover {
      path {
        stroke: $red_default_500;
      }
    }
  }
}

.layerThree {
  background-color: white;
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
}

.departmentPagelinks {
  display: flex;
  gap: 40px;
}

.departmentDropdown {
  @extend %sharedOne;
  background-color: $red_default_500;
  padding: 11px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';
  position: relative;

  &:hover {
    cursor: pointer;

    .departmentItems {
      display: block;
    }
  }

  >span {
    padding: 0 32px 0 8px;
  }

  .departmentItems {
    display: none;
    width: 270px;
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 10px 15px 0 15px;
    margin-left: -18px;
    border-radius: 5px 0 0px 5px;
    z-index: 100;

    a{
      color: $gray_default_500;
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;

      
      &:hover {
        color: $red_default_500;
      }
    }
  }
}

.pagelinks {
  @extend %sharedOne;
  gap: 40px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';

  a{
    color: $gray_default_500;

    &:hover {
      color: $red_default_500;

      .shopImage path, .featuredImage path, .promoImage path{
        stroke:  $red_default_500;
      }
    }
  }
  color: $gray_default_500;
}

.shop {
  @extend %sharedOne;

  &:hover {
    cursor: pointer;
  }

  >span {
    padding-right: 8px;
  }
}

.featured {
  @extend %sharedOne;
  
  &:hover {
    cursor: pointer;
  }

  >span {
    padding-right: 8px;
  }
}

.promotion {
  @extend %sharedOne;

  >span {
    padding-left: 8px;
  }
}

.currencyLanguages {
  @extend %sharedOne;
  gap: 16px;
  color: $gray_default_500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter-Regular';
}

.currency, .language {
  @extend %sharedOne;
}

.verticalLineCL {
  border-right: 0.1px solid $gray_default_300;
  padding: 8px 0px;
}
