:root {
  --white_default: #FFFFFF;

  // Gray Default
  --gray_default_50: #F9FAFB;
  --gray_default_100: #F3F4F6;
  --gray_default_200: #E5E7EB;
  --gray_default_300: #D1D5DB;
  --gray_default_400: #9CA3AF;
  --gray_default_500: #6B7280;
  --gray_default_600: #6B7280;
  --gray_default_700: #374151;
  --gray_default_800: #1F2937;
  --gray_default_900: #111827;

  // Red Default
  --red_default_50: #FEF2F2;
  --red_default_100: #FEE2E2;
  --red_default_200: #FECACA;
  --red_default_300: #FCA5A5;
  --red_default_400: #F87171;
  --red_default_500: #F03333;
  --red_default_600: #DC2626;
  --red_default_700: #B91C1C;
  --red_default_800: #991B1B;
  --red_default_900: #7F1D1D;

  // Yellow Default
  --yellow_default_50: #FFFBEB;
  --yellow_default_100: #FEF3C7;
  --yellow_default_200: #FDE68A;
  --yellow_default_300: #FCD34D;
  --yellow_default_400: #FBBF24;
  --yellow_default_500: #F59E0B;
  --yellow_default_600: #D97706;
  --yellow_default_700: #B45309;
  --yellow_default_800: #92400E;
  --yellow_default_900: #78350F;

  // Green Default
  --green_default_50: #ECFDF5;
  --green_default_100: #D1FAE5;
  --green_default_200: #A7F3D0;
  --green_default_300: #6EE7B7;
  --green_default_400: #34D399;
  --green_default_500: #10B981;
  --green_default_600: #059669;
  --green_default_700: #047857;
  --green_default_800: #065F46;
  --green_default_900: #064E3B;

  // Blue Default
  --blue_default_50: #EFF6FF;
  --blue_default_100: #DBEAFE;
  --blue_default_200: #BFDBFE;
  --blue_default_300: #93C5FD;
  --blue_default_400: #60A5FA;
  --blue_default_500: #3B82F6;
  --blue_default_600: #2563EB;
  --blue_default_700: #1D4ED8;
  --blue_default_800: #1E40AF;
  --blue_default_900: #1E3A8A;

  // Indigo Default
  --indigo_default_50: #EEF2FF;
  --indigo_default_100: #E0E7FF;
  --indigo_default_200: #C7D2FE;
  --indigo_default_300: #A5B4FC;
  --indigo_default_400: #818CF8;
  --indigo_default_500: #6366F1;
  --indigo_default_600: #4F46E5;
  --indigo_default_700: #4338CA;
  --indigo_default_800: #3730A3;
  --indigo_default_900: #312E81;

  // Purple Default
  --purple_default_50: #F5F3FF;
  --purple_default_100: #EDE9FE;
  --purple_default_200: #DDD6FE;
  --purple_default_300: #C4B5FD;
  --purple_default_400: #A78BFA;
  --purple_default_500: #8B5CF6;
  --purple_default_600: #7C3AED;
  --purple_default_700: #6D28D9;
  --purple_default_800: #5B21B6;
  --purple_default_900: #4C1D95;

  // Pink Default
  --pink_default_50: #FDF2F8;
  --pink_default_100: #FCE7F3;
  --pink_default_200: #FBCFE8;
  --pink_default_300: #F9A8D4;
  --pink_default_400: #F472B6;
  --pink_default_500: #EC4899;
  --pink_default_600: #DB2777;
  --pink_default_700: #BE185D;
  --pink_default_800: #9D174D;
  --pink_default_900: #831843;

}